<header class="navbar navbar-light navbar-static-top bd-navbar header">
    <div class="container">
        <nav class="navbar navbar-light">
            <div class="clearfix">
                <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#navList">
                  &#9776;
                </button>
                <a class="navbar-brand hidden-sm-up" [routerLink]="['/']">Place HeatMap App</a>
            </div>
            <div class="" id="navList">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="navbar-brand hidden-sm-down" [routerLink]="['/']">Place HeatMap App</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogged">
                        <a class="nav-item nav-link" [routerLink]="['/account']"> Welcome, {{name.split(' ')[0]}}</a>
                    </li>
                    <li class="nav-item" *ngIf="isLogged">
                        <a class="nav-item nav-link" (click)="onLogout()">Log Out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main class="main">
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; Place HeatMap App</span>
    </div>
</footer>
