.container{
  min-height: 520px;
}

.login .title {
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
}

.login .subtitle {
    text-align: center;
    font-weight: 500;
    line-height: 1.3;
}
.form-wrapper{
  margin: 5% auto;
  text-align: center;
}
.error{
  color: red;
  padding: 10px 0;;
}

.login .title-wrapper {
    margin: 5% auto;
    text-align: center;
}
